{%load static%}

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Agropro</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png" type="image/gif'%}" />
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
      <link rel="stylesheet" href="{% static 'https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'%}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css'%}">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js'%}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js'%}"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      {% comment %} <div class="loader_bg">
         <div class="loader"><img src="{% static 'images/loading.gif'%}" alt="#"/></div>
      </div> {% endcomment %}

<header class="header-area">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3">
                     <div class="logo">
                        <a href="/">Agro<span>Pro</span></a>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-9">
                     <div class="navbar-area">
                        <nav class="site-navbar">
                           <ul>
                              <li><a class="active" href="/">Home</a></li>
                              <li><a href="/about-agri/">About</a></li>
                              <li><a href="/service-agri/">Service</a></li>
                              <li><a href="/product/">Product</a></li>
                              <li><a href="/testimonail-agri/">Testimonail</a></li>
                              <li><a href="/contact-agri/">Contact</a></li>
                              <li><a href="/wishlist/"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                              <li><a href="/cart/"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                           </ul>
                           <button class="nav-toggler">
                           <span></span>
                           </button>
                        </nav>
                     </div>
                  </div>
                  <div class="d-inline-flex align-items-center navbar-area">
                    <div class="btn-group ">
                           {% if user.is_authenticated %}
                              <button type="button" class="btn btn-sm btn-link dropdown-toggle" data-toggle="dropdown">{{user.username}}</button>
                           {% else %} 
                              <button type="button" class="btn btn-sm btn-link dropdown-toggle" data-toggle="dropdown">Agri-Account</button>
                           {% endif %}   
                        <div class="dropdown-menu dropdown-menu-right">
                           {% if user.is_authenticated %}
                              <a href='/logout/' class="btn btn-sm btn-link dropdown-item" type="button">Logout</a>
                              <a href="/myorders/" class="btn btn-sm btn-link dropdown-item" type="button"><i class="fa fa-truck" aria-hidden="true"></i></a>
                        
                           {% else %}    
                            <a href='/login/' class="btn btn-sm btn-link dropdown-item" type="button">Login</a>
                            <a href='/registration-agri/' class="btn btn-sm btn-link dropdown-item" type="button">Registration</a>
                           {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>

{% block body %}
{% endblock body %}


 <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                         <div class="col-lg-3 col-md-6">
                           <div class="hedingh3  text_align_left">
                              <h3>Newsletter</h3>
                              <form id="colof" class="form_subscri">
                                 <input class="newsl" placeholder="Enter Email" type="text" name="Email">
                                 <button class="subsci_btn"><img src="{% static 'images/new.png'%}" alt="#"/></button>
                              </form>
                              
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                           <div class="hedingh3 text_align_left">
                              <h3> Explore</h3>
                              <ul class="menu_footer">
                                 <li><a href="/">Home</a></li>
                                 <li><a href="about.html">About</a></li>
                                 <li><a href="/service-agri/">Service</a></li>
                                 <li><a href="Javascript:void(0)">Projects</a></li>
                                 <li><a href="testimonail.html">Testimonail</a></li>
                                 <li><a href="/contact-agri/">Contact us</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                           <div class="hedingh3 text_align_left">
                              <h3>Recent Posts</h3>
                              <ul class="recent">
                                 <li><img src="{% static 'images/resent.jpg'%}" alt="#"/>ea commodo consequat. Duis aute </li>
                                 <li><img src="{% static 'images/resent.jpg'%}" alt="#"/>ea commodo consequat. Duis aute </li>
                              </ul>
                           </div>
                        </div>
                         <div class="col-lg-3 col-md-6">
                           <div class="hedingh3  flot_right text_align_left">
                              <h3>ContacT</h3>
                              <ul class="top_infomation">
                                 <li><i class="fa fa-phone" aria-hidden="true"></i>
                                    +01 1234567892
                                 </li>
                                 <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="Javascript:void(0)">demo@gmail.com</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
             
            <div class="copyright">
               <div class="container">
                  <div class="row d_flex">
                     <div class="col-md-8">
                        <p>© 2024 All Rights Reserved. Design by Jay Dobariya</a></p>
                     </div>
                     <div class="col-md-4">
                           <ul class="social_icon ">
                              <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                              <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                              <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js'%}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js'%}"></script>
      <script src="{% static 'js/owl.carousel.min.js'%}"></script>
      <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
      <script src="{% static 'js/custom.js'%}"></script>
   </body>
</html>